p, span{
    font-weight: 400;
}


.todoList__nav{
    display: flex;
    justify-content: space-between!important;
    border-top: 1px solid hsl(0, 0%, 98%);
    box-shadow: 5px 5px 20px #d1d1d1;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    height: 45px;
    color:  hsl(236, 9%, 61%);
   
    
    .todoList__nav--controllers{
        display: flex;
        justify-content: space-between;
        width: 39%;
    }

    p a{
        cursor:pointer;
        transition: all .5s ease-in;

        &:hover{
            color: hsl(220, 98%, 61%);
        }
    }
}